$border-radius: 16px;
$border-color: #e2e8f0;
$main-padding: 20px;
$gray: #e6e6e6;
$webletter-list-grid: 150px 0.5fr 1.1fr 40px 70px 0.3fr;

:root {
  --border-radius: #{$border-radius};
  --border-color: #{$border-color};
  --main-padding: #{$main-padding};
  --gray: #{$gray};
  --webletter-list-grid: #{$webletter-list-grid};
}

html {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
  overflow: hidden;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-center {
  justify-self: center;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

// @media screen and (max-width: 500px) {
//   .root {
//     padding: 5px;
//   }
// }

@media print {
  iframe {
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
}

// * {
//   outline: 2px solid red;
// }
