:root {
  --border-radius: 16px;
  --border-color: #e2e8f0;
  --main-padding: 20px;
  --gray: #e6e6e6;
  --webletter-list-grid: 150px 0.5fr 1.1fr 40px 70px 0.3fr;
}

html {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

/* html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
} */

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* *,
*::before,
*::after {
  outline: 2px solid red;
} */

.root {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; */
}

p {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
  overflow: hidden;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-center {
  justify-self: center;
}

@media screen and (max-width: 500px) {
  .root {
    padding: 5px;
    /* outline: 2px solid red; */
  }
}

@media print {
  iframe {
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
}
