.viewer-header {
  display: flex;
  /* grid-template-columns: 1fr auto; */
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  /* position: relative; */
  width: 100%;
  position: relative;
}
