.plain-text {
  width: 100%;
  background-color: #e6e6e6;
  border-radius: 16px;
  padding: 20px 0;

  &__content {
    white-space: pre-wrap;
    width: 100%;
    max-width: 710px;
    margin: 0 auto;
    padding: 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 16px;
  }
}
