.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  /* display: flex; */
  /* grid-template-columns: 1fr auto 1fr; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* gap: 10px; */
  padding: 20px 20px 10px;
  /* position: relative; */
  width: 100%;
  /* outline: 2px solid red; */
}
