.viewer {
  width: 100%;
  min-height: 80vh;
  /* height: 100%; */
  padding: 0 20px 20px;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* max-width: 1480px; */
  margin: 0 auto;
}

