.webletter-list {
  width: 100%;
}

.webletter-list__item {
  width: 100%;
  border-bottom: 1px solid #e2e8f0;
}

.webletter-list__item:hover {
  background-color: var(--gray);
  font-weight: 600;
}

.webletter-list__row {
  width: 100%;
  display: grid;
  grid-template-columns: var(--webletter-list-grid);
  grid-template-rows: 30px repeat(N, auto);
  align-items: center;
  gap: 0px 20px;
}

.webletter-list__row_position_title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e2e8f0;
}

.webletter-list__banner {
  width: 100%;
  /* height: 100%; */
  height: 60px;
  object-fit: cover;
  display: block;
  padding: 5px 0;
}
