:root {
  --border-radius: 16px;
}

html {
  overflow-y: overlay;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
/*
*,
*::before,
*::after {
  outline: 2px solid red;
} */

.root {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
  overflow: hidden;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 500px) {
  .root {
    padding: 5px;
    /* outline: 2px solid red; */
  }
}
