:root {
  --border-radius: 16px;
  --main-padding: 20px;
  --gray: #e6e6e6;
}

html {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

/* *,
*::before,
*::after {
  outline: 2px solid red;
} */

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 100vh;

  /* border: 1px solid red; */
}

p {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
  overflow: hidden;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 500px) {
  .root {
    padding: 5px;
    /* outline: 2px solid red; */
  }
}
